@font-face {
  font-family: 'Andes';
  src: url('../fonts/Andes.ttf');
}

body {
  height: auto;
  background-color: black;
  color: #a3a3a3;
}

main {
  text-align: center;
}

/* Bienvenue  */

.article {
  background-image: url('/Bioshock/assets/img/Journal/sister.jpg');
  background-color: black;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 3px solid #8c783e;
}

.titre-article {
  padding-top: 50px;
  font-family: 'Andes';
  font-size: 3em;
  letter-spacing: 0.3em;
  text-align: center;
  color: #8c783e;
  font-weight: normal;
}

.img__rapture {
  padding-top: 20px;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

/* Form */

.bloc-img {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-preview__div {
  width: 400px;
  min-height: 200px;
  border: 2px solid #8c783e;
  border-radius: 40px;
  margin-top: 15px;
  margin-bottom: 15px;

  /* Default Text */

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: 'Andes';
  color: #8c783e;
  letter-spacing: 0.2em;
  font-size: 20px;
  animation: flicker 1s linear infinite;
}

.image-preview__img {
  display: none;
  width: 100%;
  border-radius: 40px;
}

/* Form */

.form {
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Californian FB';
  border-radius: 20px;
  background-color: #132b30;
  border: 3px solid #8c783e;
  padding: 50px;
  width: 60%;
  font-size: 1.5em;
  margin-bottom: 50px;
}

.titre {
  background: #132b30;
  color: #a3a3a3;
  text-align: center;
  font-family: 'Californian FB';
  border: none;
  outline: none;
  padding-top: 20px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 20px;
  margin: 10px;
  font-size: 1em;
  border-bottom: 3px solid #8c783e;
}

#resume {
  margin-top: 50px;
  padding: 20px;
  background: #132b30;
  color: #a3a3a3;
  resize: none;
  border: 3px solid #8c783e;
  border-radius: 10px;
  width: 600px;
  height: 300px;
  font-family: 'Californian FB';
}

.inpFile {
  background: #132b30;
  color: #a3a3a3;
  text-align: center;
  font-family: 'Californian FB';
  border: none;
  outline: none;
  padding-top: 20px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 20px;
  margin: 10px;
  font-size: 0.5em;
}

.titre::placeholder {
  font-family: 'Californian FB';
  color: #a3a3a3;
  opacity: 0.33;
}

.envoyer {
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border-radius: 20px;
  outline: none;
  border: none;
  background: #8c783e;
  padding-top: 20px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  font-family: 'Andes';
  color: #a3a3a3;
  font-size: 1em;
  letter-spacing: 0.2em;
}

.envoyer:hover {
  color: white;
  transition: 0.5s;
  box-shadow: 0px 0px 5px #fff, 0px 0px 10px #fff, 0px 0px 15px #fff,
    0px 0px 20px #fff, 0px 0px 30px #fff, 0px 0px 40px #fff, 0px 0px 55px #fff,
    0px 0px 75px #fff;
}

/* Flicker Animation  */

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
  }
}

/* RESPONSIVE */

@media screen and (max-width: 1200px) {
  #resume {
    width: 400px;
    height: 700px;
  }
}

@media screen and (max-width: 900px) {
  #resume {
    height: 800px;
  }
}

@media screen and (max-width: 855px) {
  .form {
    width: 100%;
  }

  .envoyer:hover {
    box-shadow: none;
  }

  .inpFile {
    font-size: 0.5em;
  }
}

@media screen and (max-width: 750px) {
  .titre {
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    margin: 10px;
    font-size: 0.5em;
  }

  .inpFile {
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    margin: 10px;
    font-size: 0.5em;
  }

  #resume {
    width: 300px;
    height: 500px;
  }
}

@media screen and (max-width: 600px) {
  .img__rapture {
    width: 200px;
  }
}

@media screen and (max-width: 550px) {
  .img__rapture {
    width: 200px;
  }

  .titre-article {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 420px) {
  .envoyer {
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    font-family: 'Andes';
    color: #a3a3a3;
    font-size: 1em;
    letter-spacing: normal;
  }

  .inpFile {
    font-size: 0.3em;
  }

  #resume {
    width: 200px;
  }
}

@media screen and (max-width: 400px) {
  .img-preview__div {
    width: 200px;
    min-height: 200px;
  }
}

@media screen and (max-width: 300px) {
  .inpFile {
    font-size: 0.2em;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .titre {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    margin: 10px;
    font-size: 0.3em;
  }

  #resume {
    width: 150px;
  }
}
