@font-face {
  font-family: 'Andes';
  src: url('../fonts/Andes.ttf');
}

body {
  height: auto;
  background-color: black;
  color: #a3a3a3;
}

/* Bienvenue  */

.update {
  background-image: url('/Bioshock/assets/img/Site/contact.jpg');
  background-color: black;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 3px solid #8c783e;
}

.titre-update {
  padding-top: 50px;
  font-family: 'Andes';
  font-size: 3em;
  letter-spacing: 0.3em;
  text-align: center;
  color: #8c783e;
  font-weight: normal;
}

.img__rapture {
  padding-top: 20px;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

/* Form */

form {
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Californian FB';
  border-radius: 20px;
  background-color: #132b30;
  border: 3px solid #8c783e;
  padding: 50px;
  width: 60%;
  font-size: 1.5em;
  margin-bottom: 50px;
}

#titre {
  background: #132b30;
  color: #a3a3a3;
  font-family: 'Californian FB';
  border: none;
  outline: none;
  padding-top: 20px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 20px;
  margin: 10px;
  border-bottom: 3px solid #8c783e;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#titre::placeholder {
  font-family: 'Californian FB';
  color: #a3a3a3;
  opacity: 0.33;
}

#resume {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  padding: 20px;
  background: #132b30;
  color: #a3a3a3;
  resize: none;
  border: 3px solid #8c783e;
  border-radius: 10px;
  width: 700px;
  height: 500px;
  font-family: 'Californian FB';
}

.envoyer {
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border-radius: 20px;
  outline: none;
  border: none;
  background: #8c783e;
  padding-top: 20px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  font-family: 'Andes';
  color: #a3a3a3;
  font-size: 1em;
  letter-spacing: 0.2em;
}

.envoyer:hover {
  color: white;
  transition: 0.5s;
  box-shadow: 0px 0px 5px #fff, 0px 0px 10px #fff, 0px 0px 15px #fff,
    0px 0px 20px #fff, 0px 0px 30px #fff, 0px 0px 40px #fff, 0px 0px 55px #fff,
    0px 0px 75px #fff;
}

#resume,
#titre {
  font-size: 1em;
  text-align: center;
}

/* RESPONSIVE */

@media screen and (max-width: 1200px) {
  #resume {
    width: 500px;
    height: 600px;
  }
}

@media screen and (max-width: 900px) {
  #resume {
    width: 400px;
    height: 300px;
  }
}

@media screen and (max-width: 855px) {
  form {
    width: 100%;
  }

  .envoyer:hover {
    box-shadow: none;
  }

  #resume {
    width: 500px;
    height: 600px;
  }
}

@media screen and (max-width: 750px) {
  .titre {
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    margin: 10px;
    font-size: 0.5em;
  }

  #resume {
    width: 500px;
    height: 700px;
  }
}

@media screen and (max-width: 600px) {
  .img__rapture {
    width: 200px;
  }

  #resume {
    width: 300px;
  }
}

@media screen and (max-width: 550px) {
  .img__rapture {
    width: 200px;
  }

  .titre-update {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 450px) {
  .envoyer {
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    font-family: 'Andes';
    color: #a3a3a3;
    font-size: 1em;
    letter-spacing: normal;
  }

  #titre {
    font-size: 0.6em;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
  }

  #resume {
    height: 800px;
  }
}

@media screen and (max-width: 370px) {
  #resume {
    width: 250px;
    height: 700px;
  }
}

@media screen and (max-width: 300px) {
  #titre {
    font-size: 0.5em;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  #resume {
    width: 170px;
    height: 600px;
  }
}
